html, body, #app, #map-container {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.maplibregl-ctrl-bottom-right { display: none !important; }

/*******************************************************************/
/* Side Panel                                                      */
/*******************************************************************/
#side-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;
  font-family: Microsoft Sans Serif;
  width: 33%;
  max-width: 400px;
  min-width: 250px;
  text-align: right;
  max-height: calc( 100% - 10px);
}
.containers { padding: 10px; }
.side-panel-sections {
  font-size: 0.75em;
  background: rgba(255, 255, 255);
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}

/*******************************************************************/
/* Branding                                                        */
/*******************************************************************/
#branding-title { font-size: 2em; }
summary { font-weight: bold; }
#branding-logos {
  /* height: 65px; */
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.branding-logo { max-height: 65px; margin: 5px 10px; }
#branding-home {
  position: absolute;
  left: 15px;
  top: 30px;
  width: 25px;
  height: 25px;
  margin: 10px;
  background-image: url('../images/back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;
}
#branding-instruction { background: #ffffb0; }

/*******************************************************************/
/* Controls                                                        */
/*******************************************************************/
.controls-row { margin: 10px 0px; }

/* Search Box ******************************************************/
.search>input {
  -webkit-appearance: none;
  border: 1px solid black;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 1em;
  width: calc( 100% - 20px);
}

/* Year Switcher ***************************************************/
.year { display: flex; width: 100%; position: relative; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; z-index: 1; font-size: 12px; border: 1px solid #000; border-radius: 3px; color: #000; }
.year > input { display: none; }
.year > input:checked + label { color: #fff; }
.year > input:nth-of-type(1):checked ~ label:last-of-type:before { transform: translateX(calc(0% + 0px)); }
.year > input:nth-of-type(2):checked ~ label:last-of-type:before { transform: translateX(calc(100% + 0px)); }
.year > input:nth-of-type(3):checked ~ label:last-of-type:before { transform: translateX(calc(200% + 0px)); }
.year label { flex: 1; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }
.year label:last-of-type:before { content: ""; display: block; max-width: calc(33.4% - 0px); margin: 0px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; transform: translateX(0); }
.year label { padding: 6px 3px; transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98); }
.year label:before { background: #222a; transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98); }
.year label:not(:last-child) { border-right: 1px solid #000; }

/*******************************************************************/
/* Info Panel                                                      */
/*******************************************************************/
#info-panel { flex-grow: 1; -ms-overflow-style: none; scrollbar-width: none; }
#info-panel { overflow: scroll; }
#info-panel > .side-panel-sections { overflow: scroll; }
#info-panel::-webkit-scrollbar { display: none; }
[data-tooltip] { border-bottom: 1px dashed #000; cursor: help }
[data-tooltip]::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: white;
  z-index: 10;
  padding: 8px;
  width: 100%;
  max-width: 500px;
  transition: all 150ms cubic-bezier(.25, .8, .25, 1);
  transform: translate(-100%,-100%);
  margin: -10px 0px;
  white-space: pre-wrap;
  text-align: right;
}
.short::after { width: unset; }
[data-tooltip]:hover::after { opacity: 0.9; transition-duration: 300ms; }
table { width: 100%; }
td, th { padding: 3px; text-align: center; white-space: nowrap; min-width: 65px;}
td:nth-child(1) { min-width: 75px; text-align: right; white-space: pre-wrap; }
.close { opacity: 0.5; font-size: 1.2em; margin-left: 2px; font-family: sans-serif; font-weight: bold; cursor: pointer; }
.close:hover { opacity: 1; }
.info-panel-title { font-size: 1.2em; font-weight: bold; }

/*******************************************************************/
/* Legend                                                          */
/*******************************************************************/
#legend {
  display: none;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 150px;
  opacity: 0.9;
  margin: 10px;
  background: white;
  padding: 10px 20px 0px 20px;
}

