html, body, #app, #map-container {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.maplibregl-ctrl-bottom-right { display: none !important; }

/*******************************************************************/
/* Side Panel                                                      */
/*******************************************************************/
#side-panel {
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;
  font-family: Microsoft Sans Serif;
  width: 33%;
  max-width: 500px;
  min-width: 250px;
  text-align: right;
}
.containers { padding: 10px; }
.side-panel-sections {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.56);
  padding: 5px 15px;
  margin-bottom: 10px;
}

/*******************************************************************/
/* Branding                                                        */
/*******************************************************************/
#branding-title { font-size: 2em; }
summary { font-weight: bold; }
#branding-logos {
  height: 65px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.branding-logo { max-height: 50px; margin: 0px 5px; }
#branding-home {
  position: absolute;
  left: 15px;
  top: 30px;
  width: 25px;
  height: 25px;
  margin: 10px;
  background-image: url('../images/back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;
}

/*******************************************************************/
/* Controls                                                        */
/*******************************************************************/
.controls-row { margin: 10px 0px; }

/* Search Box ******************************************************/
.search>input {
  -webkit-appearance: none;
  border: 1px solid black;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 1em;
  width: calc( 100% - 20px);
}

/* Year Switcher ***************************************************/
.year { display: flex; width: 100%; position: relative; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; z-index: 1; font-size: 12px; border: 1px solid #000; border-radius: 3px; color: #000; }
.year > input { display: none; }
.year > input:checked + label { color: #fff; }
.year > input:nth-of-type(1):checked ~ label:last-of-type:before { transform: translateX(calc(0% + 0px)); }
.year > input:nth-of-type(2):checked ~ label:last-of-type:before { transform: translateX(calc(100% + 0px)); }
.year label { flex: 1; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }
.year label:last-of-type:before { content: ""; display: block; max-width: calc(50% - 0px); margin: 0px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; transform: translateX(0); }
.year label { padding: 6px 3px; transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98); }
.year label:before { background: #222a; transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98); }
.year label:not(:last-child) { border-right: 1px solid #000; }
