html, body, #app, #map-container {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.maplibregl-ctrl-bottom-right {
  display: none !important;
}

#side-panel {
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;
  font-family: Microsoft Sans Serif;
  width: 33%;
  max-width: 500px;
  min-width: 250px;
  text-align: right;
}

.containers { padding: 10px; }

/* Branding ********************************************************/

#branding-title, #branding-about, #branding-data, #branding-logos {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.56);
  padding: 5px 15px;
  margin-bottom: 10px;
}
#branding-title { font-size: 2em; }
summary { font-weight: bold; }
#branding-logos {
  height: 65px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.branding-logo { max-height: 50px; margin: 0px 5px; }

/*******************************************************************/

.input-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-size: 0.75em;
}

.input-select {
  -webkit-appearance: none;
  width: 59%;
  border-radius: 0px;
  padding: 5px;
}

.input-title {
  width: 35%;
  padding: 5px;
}

#overlay {
display: flex;width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;
align-items: center;
flex-direction: column;
}

.landing-state-logo {
display: flex;flex-direction: column;margin: 20px;font-family: Microsoft Sans Serif;font-size: 0.9em;text-align: center;
}

.landing-state-logo>img {
  width:100px;
  height: 100px;
}

#landing-title {
  margin-top: 100px;
  font-family: Microsoft Sans Serif;
  font-size: 2em;
  max-width: 400px;
  text-align: center;
}

#landing-sub-title {
  margin-top: 20px;
  font-family: Microsoft Sans Serif;
  font-size: 1em;
  max-width: 400px;
  text-align: center;
}


/* Year Switcher ***************************************************/

.year { display: flex; max-width: 336px; width: 100%; position: relative; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; z-index: 1; margin: 0 auto; font-size: 12px; border: 1px solid #000; border-radius: 3px; color: #000; }
.year > input { display: none; }
.year > input:checked + label { color: #fff; }
.year > input:nth-of-type(1):checked ~ label:last-of-type:before { transform: translateX(calc(0% + 0px)); }
.year > input:nth-of-type(2):checked ~ label:last-of-type:before { transform: translateX(calc(100% + 0px)); }
.year label { flex: 1; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }
.year label:last-of-type:before { content: ""; display: block; max-width: calc(50% - 0px); margin: 0px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; transform: translateX(0); }
.year label { padding: 6px 3px; transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98); }
.year label:before { background: #222a; transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98); }
.year label:not(:last-child) { border-right: 1px solid #000; }

/*******************************************************************/
