html, body, #app, #map-container {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.maplibregl-ctrl-bottom-right {
  display: none !important;
}

#side-panel {
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;
  font-family: Microsoft Sans Serif;
  width: 33%;
  max-width: 500px;
  min-width: 250px;
  text-align: right;
}

.containers {
  padding: 10px;
}

#title {
  font-size: 2em;
  background: rgba(255, 255, 255, 0.56);
  padding: 5px 15px;
  margin-bottom: 10px;
}

#about, #data-sources {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.56);
  padding: 5px 15px;
  margin-bottom: 10px;
}

summary {
  font-weight: bold;
}

#logos {
  height: 65px;
  background: rgba(255, 255, 255, 0.56);
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  max-height: 50px;
  margin: 0px 5px;
}


.input-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-size: 0.75em;
}

.input-select {
  -webkit-appearance: none;
  width: 59%;
  border-radius: 0px;
  padding: 5px;
}

.input-title {
  width: 35%;
  padding: 5px;
}

#overlay {
display: flex;width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;
align-items: center;
flex-direction: column;
}

.landing-state-logo {
display: flex;flex-direction: column;margin: 20px;font-family: Microsoft Sans Serif;font-size: 0.9em;text-align: center;
}

.landing-state-logo>img {
  width:100px;
  height: 100px;
}

#landing-title {
  margin-top: 100px;
  font-family: Microsoft Sans Serif;
  font-size: 2em;
  max-width: 400px;
  text-align: center;
}

#landing-sub-title {
  margin-top: 20px;
  font-family: Microsoft Sans Serif;
  font-size: 1em;
  max-width: 400px;
  text-align: center;
}

